

<h1 style="text-align:center ;color:red "><b>Team Variable</b></h1>

<p style="text-align:center">
    Welcome to Variable, your tech haven for bespoke electronics! Dive into our e-commerce realm, a haven for enthusiasts seeking tailor-made computers and smartphones. Empowering your journey is our state-of-the-art chatbot, meticulously designed to navigate the intricacies of PC customization. Harness the power of RazerPay for seamless, tech-driven transactions, ensuring swift and secure payments. At Variable, we transcend traditional limits, bringing innovation to the forefront of your shopping experience. Immerse yourself in the future of electronics, where cutting-edge technology meets personalized craftsmanship. Unleash your tech desires with Variable—a realm where every click unlocks a world of limitless possibilities.
</p>

<div class="row">
    <div class="col-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://i.postimg.cc/cLSFBKSj/49d8ed9c-b936-4c1d-bf96-4fd2d3775226.jpg"
                         alt="Yogesh"
                         class="img-fluid rounded-start" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">Yogesh Patel</h4>
                        <br />
                        <br />
                        
                        <i class="fa-solid fa-arrow-down fa-bounce fa-xl"></i>&nbsp;<h5>For Contact</h5>
                        <br />
                        <i class="fa-brands fa-linkedin fa-bounce fa-xl"> &nbsp;</i><a href="https://www.linkedin.com/in/yogesh-patel-8b426b229/">LinkedIn Profile</a>
                       
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://i.postimg.cc/3Rn1K90Q/251a67c6-18f4-4935-ae3e-42d46c83956a.jpg"
                         alt="purnendu"
                         class="img-fluid rounded-start" style="height:235px ; width:250px" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">Purnendu Bhattacharjee</h4>
                        <br />
                        <br />

                        <i class="fa-solid fa-arrow-down fa-bounce fa-xl"></i>&nbsp;<h5>For Contact</h5>
                        <br />
                        <i class="fa-brands fa-linkedin fa-bounce fa-xl"> &nbsp;</i><a href="https://www.linkedin.com/in/purnendubhattacharjee/">LinkedIn Profile</a>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://i.postimg.cc/rpL6V5wn/230940320107-Shouvik-Dey-KH.jpg"
                         alt="Shouvik Dey"
                         class="img-fluid rounded-start" style="height:235px ; width:250px" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">Shouvik Dey</h4>
                        <br />
                        <br />

                        <i class="fa-solid fa-arrow-down fa-bounce fa-xl"></i>&nbsp;<h5>For Contact</h5>
                        <br />
                        <i class="fa-brands fa-linkedin fa-bounce fa-xl"> &nbsp;</i><a href="https://www.linkedin.com/in/shouvik-dey-91841122a/">LinkedIn Profile</a>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://i.postimg.cc/PxgWfcfc/DSC-0087-1.jpg"
                         alt="Aniket Tawade"
                         class="img-fluid rounded-start" style="height:235px ; width:250px" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">Aniket Tawade</h4>
                        <br />
                        <br />

                        <i class="fa-solid fa-arrow-down fa-bounce fa-xl"></i>&nbsp;<h5>For Contact</h5>
                        <br />
                        <i class="fa-brands fa-linkedin fa-bounce fa-xl"> &nbsp;</i><a href="https://www.linkedin.com/in/aniket-tawade-2007b521b/">LinkedIn Profile</a>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="row">
    <div class="col-3">

    </div>
    <div class="col-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://i.postimg.cc/RZSc0w9M/f65a7a70-b8cf-4069-b66c-bc11840446af.jpg"
                         alt="Anshul Massey"
                         class="img-fluid rounded-start" style="height:235px ; width:250px" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">Aniket Tawade</h4>
                        <br />
                        <br />

                        <i class="fa-solid fa-arrow-down fa-bounce fa-xl"></i>&nbsp;<h5>For Contact</h5>
                        <br />
                        <i class="fa-brands fa-linkedin fa-bounce fa-xl"> &nbsp;</i><a href="https://www.linkedin.com/in/anshul-d-massey-898747239?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B4w9KQW%2BjQg24F1Tfbi3lCQ%3D%3D">LinkedIn Profile</a>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-3">
    </div>

</div>








